<div class="footer">
	<div class="container">
		<p>Designed and built by <a href="javascript:">Chao.Gao</a></p>
		<p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0.</a></p>
		<p>Server by <a href="#ngo">Nginx</a>, server lanuage by <a href="#nogo">Ruby</a>, framework by <a href="#nogo">Rails</a></p>
		<p>Javacript Canvas framework by <a href="https://github.com/chaogao/canvas_sprite.git" target="_blank">Csprite</a></p>
	</div>
</div>