<div class="footer">
	<div class="container">
		<p>Javascript Framework by <a href="#nogo">Jquery</a>, CSS Framework by <a href="#ngo">Bootstrap</a>, Canvas Sprite Framework by <a href="https://github.com/chaogao/canvas_sprite.git" target="_blank">Csprite</a></p>
		<p>Server by <a href="#ngo">Nginx</a>, Server Lanuage by <a href="#nogo">Ruby</a>, Server Framework by <a href="#nogo">Rails</a></p>
		<p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0.</a> Designed and Built by <a href="javascript:">Chao.Gao</a></p>
	</div>
</div>