<% content_for :silder do %>
	<form id="form1" class="upload-form" method="post" enctype="multipart/form-data">
		<h3>Select Icons Upload</h3>
		<div id="fsUploadProgress"></div>
		<div id="divStatus">0 Files Uploaded</div>
		<div class="button-container">
			<span class="" id="swfUploadContainer"></span>
			<span class="text-block-orange">
				<a href="javascript:" id="btnCancel" onclick="swfu.cancelQueue();">Cancel</a>
			</span>
		</div>
	</form>
<% end %>

<% content_for :assets do %>
	<%= javascript_include_tag :swfuploadcore  %>
	<%= javascript_include_tag :csprite  %>	
<% end %>