@import "base";

#desginContainer {
	padding: 35px 0;
	.nav {
		margin-bottom: 5px;
	}
	.name-text {
		display: inline-block;
		line-height: 30px;
		font-weight: bold;
		max-width: 120px;
		overflow: hidden;
		white-space: nowrap;
	}
	.btn {
		padding: 4px 3px;
	}
	.list-status {
		position: absolute;
		top: 5px;
		left: 10px;
	}
    .list-icons {
        padding-right: 5px;
        height: 330px;
        overflow: auto; 
    }
    .list-action {
        position: absolute;
        bottom: 5px;
        left: 10px;
    }
	label {
		padding-top: 0;
		input {
			margin-top: 9px;
			margin-bottom: 8px;
		}
	}
	max-height: 400px;
}

.thumbnails-square {
	.thumbnail {
		@include border-radius(0);
	}

	.image-container {
		background-size: cover;
	}

	.span5 .image-container {
		height: 290px;
	}

	.span2 .image-container {
		height: 130px;
	}

	.span3 .image-container {
		height: 210px;
	}

	.description {
		postion: abso
	}

	.thumbnail {
		position: relative;
	}
}

@media (min-width: 1200px) {
	.thumbnails-square {
		.span5 .image-container {
			height: 350px;
		}

		.span2 .image-container {
			height: 160px;
		}

		.span3 .image-container {
			height: 260px;
		}
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.thumbnails-square {
		.span5 .image-container {
			height: 218px;
		}

		.span2 .image-container {
			height: 94px;
		}

		.span3 .image-container {
			height: 156px;
		}
	}
}